
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* tool bar decorator */
.tool-bar {
    background-color: darkslategrey;
    position: fixed; /* sets position of toolbar to be relative to the viewport */
    bottom: 0px; 
    width: 100%;
    height: 10%;
}

/* edit panel decorator */
.edit-panel {
    background-color: red;
    position: fixed; /* sets position of sidebar to be relative to the viewport */
    width: 200px;
    height: 90%;
    right: 0px;
    top: 0px;
}